<ion-view view-title="About">
	<ion-content class="padding" overflow-scroll="true">

		<center><h1>CENDRAL SDN BHD</h1></center>
		<br>
		<center><h4> Contact Details and Location:- </h4></center>
		<br>
		<a class="item item-icon-left" href="tel:+60-3618-760-72">
			(03) 6187 6072
		<i class="icon ion-ios-telephone-outline"></i>
		</a>
		<a class="item item-icon-left" href="#" onclick="window.open('https://goo.gl/maps/Vy4fd8bhABv', '_system', 'location=yes'); return false;">
			Maps - Direction to <b>Cendral Sdn Bhd</b>
		<i class="icon ion-map"></i>
		</a>
		<!-- 		
		Google Maps - Not use for a moment
		<h2>Location</h2>	
		<div id="map" data-tap-disabled="true"></div> 
		-->
	</ion-content>
</ion-view>
