<ion-view title="About">
	<ion-content class="padding animation slide-out" id="content"
	on-swipe-right="onGesture('Swipe Right')" >

	<div class="list card">
		<div class="item item-divider"">
			<h2 style="font-weight: bold; font-size: 22px">CENDRAL SDN BHD</h2> 
			<p style="font-weight: bold; font-size: 14px">(Gombak)</p>
		</div>

		<div class="item item-button-right">
			Address
			<button class="button button-stable" href="#" onclick="window.open('https://goo.gl/maps/Vy4fd8bhABv', '_system', 'location=yes'); return false;">
			<i class="icon ion-location"></i>
			</button>
		</div>

		<div class="item item-body">
			<p>No 55, Jalan SG 3/1
			Taman Seri Gombak
			68100 Batu Caves
			Selangor</p>
		</div>

		<div class="item item-button-right">
				<b>Contact:</b> (03) 6187 6072
			<button class="button button-stable" ng-click="call('60-3618-760-72')">
			<i class="icon ion-ios-telephone-outline"></i>
			</button>
		</div>
		<div class="item item-body">
			<b>Business Hour: </b>
			<p>
				Monday - Saturday : 10.00 am - 7.30 pm
			</p>
		</div>
	</div>

	<button on-hold="onHold()" class="button button-clear button-block" ng-if="!loggedIn()"></button>
		
	</ion-content>
</ion-view>
