<ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Add Currency</h1>
	  <button class="button button-clear" ng-click="closeAC()">Close</button>
    </ion-header-bar>

    <ion-content class="padding">
        
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Currency Name: </span>
            <input type="text" ng-model="add_rate.name" placeholder="Example: Malaysia"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Unit: </span>
            <input type="tel" placeholder="Example: 1" ng-model="add_rate.amount"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Buy: </span>
            <input type="tel" placeholder="Example: 3.50" ng-model="add_rate.buy">
          </label>
          <label class="item item-input">
            <span class="input-label">Sell: </span>
            <input type="tel" placeholder="Example: 2.80" ng-model="add_rate.sell">
          </label>
        </div>
        <button class="button button-stable button-block button-balanced" ng-click="addCurrency(add_rate)">
  			Add Currency
		</button>
        <button class="button button-stable button-block button-assertive" ng-click="closeAC()">
  			Cancel
		</button>
    </ion-content>
</ion-modal-view>