<ion-modal-view >
    <ion-header-bar class="bar-balanced">
      <button class="button button-clear" ng-click="closeModal()"> 
        <i class="icon ion-arrow-left-c"></i>
      </button>
      <h1 class="title">Currency Update</h1>
      <button class="button button-dark button-clear" ng-click="deleteCurrency(rates)" ng-if="admin()">
        <i class="icon ion-trash-b"></i>
      </button>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Country: </span>
            <input type="text" ng-model="rates.name"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Currency Name: </span>
            <input type="text" ng-model="rates.c_name"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Unit: </span>
            <input type="tel" placeholder="{{rates.amount}}" ng-model="rates.amount"></input>
          </label>
          <label class="item item-input">
            <span class="input-label">Buy: </span>
            <input type="tel" placeholder="{{rates.sell}}" ng-model="rates.buy">
          </label>
          <label class="item item-input">
            <span class="input-label">Sell: </span>
            <input type="tel" placeholder="{{rates.buy}}" ng-model="rates.sell">
          </label>
        </div>
        <button class="button button-stable button-block button-balanced" ng-click="updateRates(rates)">
  			Update Currency
		</button>
		<center>

		</center>

    </ion-content>
</ion-modal-view>