<ion-modal-view>

<!-- title and close button -->
	<ion-header-bar class="bar-balanced">
	  	<h1 class="title">Currency Conveter</h1>
	  	<button class="button button-clear" ng-click="closeModal()">Close</button>
	</ion-header-bar>

	<div class="bar bar-subheader" >
		<div class="button-bar" >
		<a class="button button-light " ng-click="toggle('sell')" ng-class="{'button\-balanced' : activeTab == 'sell'}">
  			Sell
		</a>
		<a class="button button-light " ng-click="toggle('buy')" ng-class="{'button\-balanced' : activeTab == 'buy'}">
  			Buy
		</a>
		</div>
	</div>

	<ion-content class="padding has-subheader">
	<!-- Sell Form -->	

	<div class="list" ng-hide="hide.sell">
		<center><h4>Malaysia <i class="icon ion-arrow-swap"></i> {{rates.name}} </h4></center>
		
	  	<label class="item item-input" ng-class="{'current' : activeTab == 'sell'}">
			<!-- <input type="tel" placeholder='{{rates.sell}}'> -->
			<input type="tel" placeholder='{{rates.sell}}' ng-model="sell">
		    <span class="input-label">Malaysia</span>
	  	</label>

		<!-- <label class="item item-input">
			<div class="col col-67" placeholder='...'>{{sell*rates.amount/rates.sell | number:2}}</div>
			<span class="input-label">{{rates.name}}</span>
	  	</label> -->

		<div class="card">
		  <div class="item item-divider">
		    <center><b>{{rates.name}}</b></center>
		  </div>
		  <div class="item item-text-wrap" id='size'>
		    <center>{{sell*rates.amount/rates.sell | number:2}}</center>
		  </div>
		</div>

	</div>

	<!-- Buy Form -->
	<div class="list" ng-hide="hide.buy">
		<center><h4>{{rates.name}} <i class="icon ion-arrow-swap"></i> Malaysia</h4></center>
		

		<label class="item item-input" ng-class="{'current' : activeTab == 'buy'}">
			<input type="tel" placeholder='{{rates.amount}}' ng-model="buy">
			<span class="input-label">{{rates.name}}</span>
	  	</label>

<!-- 	  	<label class="item item-input">
			<div class="col col-67" >{{buy*rates.buy/rates.amount | number:2}}</div>
		    <span class="input-label">Malaysia</span>
	  	</label>
 -->
		<div class="card">
		  <div class="item item-divider">
		    <center><b>Malaysia</b></center>
		  </div>
		  <div class="item item-text-wrap" id='size'>
		    <center>{{buy*rates.buy/rates.amount | number:2}}</center>
		  </div>
		</div>

	</div>
	</ion-content>
</ion-modal-view>
