<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Currency Update</h1>
	  <button class="button button-clear" ng-click="closeCU()">Close</button>
    </ion-header-bar>

    <ion-content>
        
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Currency Name: </span>
            <output>MYR</output>
          </label>
          <label class="item item-input">
            <span class="input-label">Unit: </span>
            <input type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Sell: </span>
            <input type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Buy: </span>
            <input type="number">
          </label>
        </div>
    </ion-content>
</ion-modal-view>