<ion-view view-title="Daily Rates">
	<ion-content class="padding">
		<!-- <h1>The Best Rates</h1> -->
		
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="First Name" ng-model="name.first"></input>
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Last Name" ng-model="name.last"></input>
		  </label>
		</div>

		<button type="submit" class="button button-block button-calm" ng-click="submit(); goUpdate()">Submit</button>
		
		{{hi}}
	</ion-content>
</ion-view>
