<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Forget/Change Password</h1>
	  <button class="button button-clear" ng-click="closeCP()">Close</button>
    </ion-header-bar>

    <ion-content>
        <form>
            <ion-list>

                <label class="item item-input">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="enter your new password..." ng-model="password.new_password">
                </label>

            </ion-list>
            <center><button class="button button-assertive button-clear" ng-click="changePass(password.new_password)">Change Password</button></center>

        </form>
    </ion-content>
</ion-modal-view>