<ion-nav-bar class="bar-balanced">

    <!-- This code below is added the original design start with ion-nav-buttons -->
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-dark tabs-striped tabs-color-light">
	<!-- Rates -->
  <ion-tab title="Home" icon="ion-ios-home" href="/Home/Rates">
  	<ion-nav-view name="Rates"></ion-nav-view>
  </ion-tab>
  <!-- About -->
  <ion-tab title="About" icon="ion-information-circled" href="/Home/About"  nav-direction="back">
    <ion-nav-view name="About"></ion-nav-view>
  </ion-tab>
</ion-tabs>
