<ion-popover-view class="fit">
  <ion-content>
    <div class="list">
        <div ng-if="admin()">
          <a class="item" ui-sref="AddCurrency" ng-click="closePopover()" nav-direction="forward">
            <i class="icon ion-cash"></i> Add Currency
          </a>
          <a class="item" ui-sref="Users" ng-click="closePopover()" nav-direction="forward">
            <i class="icon ion-person"></i> Users
          </a>
        </div>
      <a class="item" ng-click="showPopup()">
        <i class="icon ion-log-out"></i> Log Out
      </a>
      </div>
  </ion-content>
</ion-popover-view>