<ion-popover-view>
  <ion-content class="padding">
    <div class="list">
      <a class="item" ng-click="open('SignIn.html')">
        <i class="icon ion-log-in"></i> Log In
      </a>
      <a class="item" ng-click="open('add_Currency.html')">
        <i class="icon ion-cash"></i> Add Currency
      </a>
      <a class="item" ui-sref="Users">
        <i class="icon ion-person"></i> Users
      </a>
      <a class="item" ng-click="showPopup()">
        <i class="icon ion-log-out"></i> Log Out
      </a>
    </div>
  </ion-content>
</ion-popover-view>