<ion-popover-view class="fit">
  <ion-content class="padding">
    <div class="list">
      <a class="item" ng-click="open('SignIn.html')" ng-if="!loggedIn()">
        <i class="icon ion-log-in"></i> Log In
      </a>
      <div ng-if="loggedIn()">
        <div ng-if="admin()">
          <a class="item" ng-click="open('add_Currency.html')">
            <i class="icon ion-cash"></i> Add Currency
          </a>
          <a class="item" ui-sref="Users" ng-click="closePopover()">
            <i class="icon ion-person"></i> Users
          </a>
        </div>
      <a class="item" ng-click="showPopup()" ng-if="loggedIn()">
        <i class="icon ion-log-out"></i> Log Out
      </a>
      </div>
    </div>
  </ion-content>
</ion-popover-view>