<ion-view title="Daily Rates" cache-view="true">
	<ion-content class="padding" overflow-scroll="true">

	<!-- The interface to put the content -->
		<div  id="title" class="row item">
			<div class="col col-33">Currency</div>
			<div class="col">Unit</div>
			<div class="col">Buy</div>
			<div class="col">Sell</div>
			<div class="col col-10"></div>
		</div>

	<!-- Data fetch from database -->

		<div ng-repeat="rate in arr">
			<ion-item class="row item item-icon-right" ng-click="openRate(rate)"  id="border">
				<div class="col col-33">{{rate.name}}</div>
				<div class="col">{{rate.amount}}</div>
				<div class="col">{{rate.buy}}</div>	
				<div class="col">{{rate.sell}}</div>
				<div class="col col-10">
					<i class="{{icon}}"></i>
				</div>
			</ion-item>
		</div>
		<br>

	</ion-content>
</ion-view>