<ion-modal-view class="mbody">
	<ion-header-bar class="bar-balanced">
		<h1 class="title">Sign In</h1>
		<button class="button button-clear" ng-click="GoBack()">Close</button>
	</ion-header-bar>
    <ion-content class="padding">
        <div class="logo"></div>
        <div class="login-block">
            <h1>Login</h1>
            <input type="text" value="" placeholder="Username" id="username" ng-model="data.username" />
            <input type="password" value="" placeholder="Password" id="password" ng-model="data.password" />
            <button ng-click="login()"  ng-disabled="!data.username || !data.password">Log-In</button>
        </div>
    </ion-content>
</ion-modal-view>