<ion-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title"></h1>
		<button class="button button-clear" ng-click="GoBack()">Close</button>
	</ion-header-bar>
    <ion-content class="padding mbody">

      <div class="item item-divider">
          <h4>Notes!</h4>
      </div>

      <div class="item item-text-wrap">
          <h4>Only 'Authorized' Person are allowed in this page</h4>
      </div>

        <div class="logo"></div>
        <div class="login-block">
            <h1>Login</h1>
            <input type="text" value="" placeholder="Username" id="username" ng-model="data.username" />
            <input type="password" value="" placeholder="Password" id="password" ng-model="data.password" />
            <button ng-click="login()"  ng-disabled="!data.username || !data.password">Log-In</button>
        </div>
    </ion-content>
</ion-view>