<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title">Sign In</h1>
		<button class="button button-clear" ng-click="closeSignIn()">Close</button>
	</ion-header-bar>
    <ion-content class="padding">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter your username..." ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="enter your password..." ng-model="data.password">
                </label>
            </ion-list>
            <button class="button button-stable button-block button-dark" ng-click="login()">Sign In</button>
        </form>
    </ion-content>
</ion-modal-view>