<ion-view view-title="Update Rates">
	<ion-content class="padding">
		<table cellspacing='0' style=""> <!-- cellspacing='0' is important, must stay -->

			<!-- Table Header -->
			<thead>
				<tr>
					<th>Currency</th>
					<th>Amount </th>
					<th>Sell</th>
					<th>Buy</th>
				</tr>
			</thead>
			<!-- Table Header -->

			<!-- Table Body -->
			<tbody>

				<tr >
					<td>
						USA
					</td>
					<td>
						<label class="item item-input item-clear">
					    	<input type="text" placeholder="1" style="font-color: dark;">
					  	</label>
					</td>
					<td>
						<label class="item item-input item-clear">
					    	<input type="text" placeholder="4.20">
					  	</label>
					</td>
					<td>
						<label class="item item-input item-clear">
					    	<input type="text" placeholder="3.50">
					  	</label>
					</td>
				</tr><!-- Table Row -->
			</tbody>
			<!-- Table Body -->
		</table>
	</ion-content>
</ion-view>