<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">User Info</h1>
	  <button class="button button-clear" ng-click="closeUI()">Close</button>
    </ion-header-bar>

    <ion-content>
        
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Ali.." ng-model="userInfo.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter username..." ng-model="userInfo.username">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Access Level
                    </div>
                    <select ng-model="userInfo.category">
                      <option>Admin</option>
                      <option>Staff</option>
                    </select>
                </label>
            </ion-list>
        <button class="button button-block button-balanced" ng-click="addCurrency(add_rate)">
  			Add Currency
		</button>
        <button class="button button-block button-assertive">
  			Cancel
		</button>
    </ion-content>
</ion-modal-view>