<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <button class="button button-clear" ui-sref="HomeTabs.Rates" ng-hide="!hide.user" nav-direction="back">
          <i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">{{title}}</h1>
      <button class="button button-clear" ng-click="toggle('user')">{{name}}</button>
    </ion-header-bar>
  
	<ion-content class="padding has-header" overflow-scroll="true" cache-view="true">
		<div class="list" ng-if="hide.user">

			<a class="item item" ng-repeat="user in users" ng-click="opens('User_Info.html', user)">
			  <h2>Name: {{user.name}}</h2>
			  <p>Level: {{user.category}}</p>
			</a>
		</div>


    <ion-list ng-if="!hide.user">
        <div class="list card">
            <div class="item" id='UnitCurrency'>
              <center><b>Fill up all the Details</b></center>
            </div>
        </div>
        <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name.." ng-model="data.name">
        </label>
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username..." ng-model="data.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="At least 6 characters" ng-model="data.password">
        </label>
        <label class="item item-input">
            <span class="input-label">Confirm Password</span>
            <input type="password" placeholder="At least 6 characters" ng-model="data.confirm_password">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Access Level
            </div>
            <select ng-model="data.category">
              <option>Admin</option>
              <option>Staff</option>
            </select>
        </label>
        <button class="button button-stable button-block button-dark" ng-click="signup()">Sign Up</button>
    </ion-list>
    <!-- if a lot of content need to use <br> at last to make the scrollign smooth -->
    <br>
	</ion-content>
</ion-modal-view>



<!-- 
      <button class="button button-icon icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>

      <button class="button button-icon icon ion-drag" style="float: right;" ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>

      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="user in users" class="item-remove-animate">
          <div ng-click="openUI(user)">Name: {{ user.name }} Username: {{ user.username }} Category: {{ user.category }}</div>
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="deleteUser(user)">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(user, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
      </ion-list> -->