/* Empty. Add your own CSS if you like */

.bar-green{
	background-color: '#00CB25';
	color: '#00CB25';
}

/**
	Style for google maps
**/

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 50%;
}